/* Ionic Variables and Theming. For more information, please see
 * https://beta.ionicframework.com/docs/theming/
 */

@import "~@ionic/core/css/core.css";
@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";
@import "~@ionic/core/css/typography.css";

@import "~@ionic/core/css/padding.css";
@import "~@ionic/core/css/text-alignment.css";

:root {
  --ion-color-dark: #222428;

}
